/* font-family 속성 */
#ff1 { font-family: "궁서체";}
#ff2 { font-family: "돋움체";}
#ff3 { font-family: "없는글꼴", "굴림체";}

/* 웹 폰트 설정 */
#web-font {font-family: 'Josefin Sans', sans-serif;}

/* font-size 속성 */
#size1 { font-size: 30px;}
#size2 { font-size: 2em;}
#size3 { font-size: 180%;}

#size4 { font-size: 200%;}

#size5 { font-size: 30px;}
#size6 { font-size: 2em;}
#size7 { font-size: 180%;}

/* font-weight 속성 */
#fw1 { font-weight: bold;}
#fw2 { font-weight: lighter;}
#fw3 { font-weight: bolder;}
#fw4 { font-weight: 900;}

/* font-variant 속성 */
#fv { font-variant: small-caps;}

/* font-style 속성 */
#fs1 { font-style: italic;}
#fs2 { font-style: oblique;}


/* font 속성 */
#f1 { font : 16px/25px "궁서체";}
#f2 { font : italic bold 20px/25px "고딕체";}