.main_body {
  background-image: url("../images/main-bg.jpg");
  background-size: cover;
  background-position: bottom;
  min-height: 100vh;
}
.menu_body {
  background-image: url(../images/menu-bg.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
.outer_main {
  margin: 30px 60px;
}
.logo_box {
  margin-left: 20px;
  background-color: white;
  border: 10px solid rgba(0, 0, 0, 0.05);
  width: 210px;
  height: 70px;
  font-size: 18px;
  font-weight: bold;
}
ul {
  list-style-type: none;
  font-size: 1.25em;
}
li {
  display: inline-block;
  padding: 13px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: cyan;
}
header {
  display: flex;
  justify-content: space-between;
  height: 200px;
}
h1 {
  text-align: center;
  margin: 80px;
  font-size: 4.5em;
  font-family: "Edu VIC WA NT Beginner", cursive;
}
.subtext {
  font-size: 1.25em;
  text-align: center;
}
.footer_box {
  justify-content: center;
  display: flex;
}
.menu_button {
  margin: 80px;
  padding: 20px;
  background-color: #0bd;
  color: white;
  font-size: 22px;
  text-align: center;
  width: 120px;
  font-weight: 600;
  border-radius: 10px;
}
.contact_box {
  display: grid;
  grid-template-columns: auto 500px auto;
}
.menu_headline {
  margin: 20px;
  color: #432;
  font-size: 6em;
  font-weight: 600;
}
.menu_contacts {
  color: #432;
  font-weight: 700;
  font-size: large;
  line-height: 2em;
}
