/* list-style-type 속성 */
#default-bullet { list-style-type: disc;}
#circle-bullet { list-style-type: circle;}
#square-bullet { list-style-type: square;}
#none-bullet { list-style-type: none;}

#default-number {list-style-type: decimal;}
#zero-number {list-style-type: decimal-leading-zero;}
#lower-rome-number {list-style-type: lower-roman;}
#upper-rome-number {list-style-type: upper-roman;}
#lower-alpha {list-style-type: lower-alpha;}
#upper-alpha {list-style-type: upper-alpha;}

/* list-style-position 속성 */
#bullet-inside { list-style-position: inside;}
#bullet-outside { list-style-position: outside;}

/* list-style-image 속성 */
#image-bullet { list-style-image: url("../images/circle.png");}