/* color 속성 */
#c-name { color : red; }
#c-16 { color : #ff0000; }
#c-rgb { color : rgb(255, 0, 0); }

/* 투명도 추가 */
#c-rgba { color : rgba(255, 0, 0, 0.5); }

/* 색조, 채도, 명도 */
#c-hsl { color : hsl(360, 100%, 50%); }
#c-hsla { color : hsla(360, 100%, 50%, 0.5); }

/* text-decoration 속성 */
#td1 { text-decoration: none;}
#td2 { text-decoration: underline;}
#td3 { text-decoration: line-through;}
#td4 { text-decoration: overline;}

/* text-transform 속성 */
#tt1 { text-transform: none;}
#tt2 { text-transform: capitalize;}
#tt3 { text-transform: uppercase;}
#tt4 { text-transform: lowercase;}

/* 그림자 효과 (가로,세로, 번짐, 색상) */
#ts1 { color : orangered; text-shadow: 5px 5px orange;}
#ts2 { color : white; text-shadow: 0px 1px 4px #870487;}
#ts3 { color : white; text-shadow: 1px 1px 20px #6f0;}
#ts4 { color : black; text-shadow: 0px 0px 4px #ccc, 0px -5px 4px #ff3, 2px -10px 6px #fd3, -2px -15px 11px #f80, 2px -19px 18px #f20;}
